@{
    ViewData["Title"] = "Upload Page";
}

<div class="text-center">
    <h1 class="display-4">Choose your configuration file:</h1>
    @using (Html.BeginForm("UploadConfigFile", "Config", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="configFile" id="configFile" accept=".json" />
        <button type="submit">Upload File</button>
    }
</div>
